$swipoGreen: #10D48E;
$pureWhite: #FFFFFF;
$richBlack: #0E0F0E;
$altBlack: #161616;
 
 .bottom-nav {
    background-color: $altBlack;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;

// profile
    #playlist {
        width: 25px;
        height: 20px;
    }
// logo
    #home {
        height: 30px;
        width: 30px;
    }

// settings
    #random {
        width: 25px;
        height: 20px;
    }
}