$swipoGreen: #10D48E;
$pureWhite: #FFFFFF;
$richBlack: #0E0F0E;
$altBlack: #161616;

.login-page{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    #logo{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #swipo-logo{
        margin-bottom: 65%;
        width: 400px;
        @media (max-width: 475px){
            width: 90%;
            }
    }
    #login-button{
        padding-top: 200px;
        position: absolute;
    }
}
