$swipoGreen: #10D48E;
$pureWhite: #FFFFFF;
$richBlack: #0E0F0E;
$altBlack: #161616;

.mainCard{
    margin: 0 auto;
    color: white;
    position: relative;
    height: 60%;
    width: 450px;
    @media (max-width: 475px) {
        width: 80%;
    }
    overflow: hidden;



    #albumCover{
        height: 300px;
        width: 300px; 
    }
    #songName{
        margin: 0;
        padding: 0;
        text-align: center;
        font-weight: 600;
        font-size: 25px;
    }
    #artist{
        margin: 0;
        padding: 0;
        text-align: center;
        font-weight: 400;
        height: 50px;
        font-size: 20px;
    }
    #audio{
        width: 100%;
    }
}