$swipoGreen: #10D48E;
$pureWhite: #FFFFFF;
$richBlack: #0E0F0E;
$altBlack: #161616;

.top-nav {
// general
    background-color: $altBlack;
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    #profile {
        // border: 1px solid green;
        height: 50px;
        width: 50px;
        border-radius: 100px;
    }
    #swipo-logo {
        height: 60px;
        width: auto;
        margin: 0 20px;
        // border: 1px solid green;
    }
    #settings {
        // border: 1px solid green;
        width: 50px;
        height: 50px;
    }
}