$swipoGreen: #10D48E;
$pureWhite: #FFFFFF;
$richBlack: #0E0F0E;
$altBlack: #161616;

.top-nav {
// general
    background-color: $altBlack;
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;

// links in general
    a{
        display: flex;
    }

// profile
    #profile-link{
        width: 40px;
        height: 40px;
        margin-left: 30px;
    }
// logo
    #swipo-logo-link{
        height: 60px;
        padding: 0 0;
    }

// settings
    #settings-link{
        width: 40px;
        height: 40px;
        margin-right: 30px;
    }
}