@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import './TopNav', './BottomNav','./MainCard','./LoginPage';


$swipoGreen: #10D48E;
$pureWhite: #FFFFFF;
$richBlack: #0E0F0E;
$altBlack: #161616;


body {
    // font
    color: white;
    font-family: "Inter", sans-serif;

    margin: 0;
    padding: 0;

    // disallows scroll
    overflow-x:hidden;
    overflow-y:hidden;
}

.App {
    // sets background
    background-color: $richBlack;
    position: absolute;
    height: 100vh;
    width: 100vw;
}