//variables
$swipoGreen: #10D48E;
$pureWhite: #FFFFFF;
$richBlack: #0E0F0E;
//card background
$feldgrau: #506452;

$standardRadius: 20px;

body {
    color: white;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    
}

.App {
    background-color: $richBlack;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

//top and bottom nav
#TopNav {
    border: 1px solid $swipoGreen;
    width: 100%;
    //hardcoded height, change later 
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    #profileButton {
        width: 40px;
        height: 40px;
        margin-left: 20px;
        border-radius: 100%;
        background-color: $swipoGreen;
        border: 1px solid $swipoGreen;
    }

    #swipoLogo {
        height: 80px;
        margin-top: 20px;
        h1 {
            text-decoration: none;
        }
    }
    #tempButton {
        //replace later with settings cog
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: transparent;
    }
}
 #BottomNav {
     background-color: $feldgrau;
     width: 100vw;
     //hardcoded height, change later
     height: 60px;
     display:flex;
     align-items: center;
     justify-content: space-around;
     border-radius: $standardRadius $standardRadius 0px 0px;

 }


 //Main Page and Main Card
#MainPage {
    display: flex;
    justify-content: center;
    align-items: center;
    .MainCard {
        display: flex;
        width: 500px;
        max-width: 500px;
        background-color: $feldgrau;
        overflow:visible;
        @media (max-width: 425px) {
            width: 90%;
            max-width: 400px;
        }
        height: 400px;
        border-radius: $standardRadius;
    }

}